.listen-radios.not-playing {
	padding-bottom: 0px;
}

.listen-radios {
	background-color: #FFF;
	height: auto;
	position: absolute;
	width: 100%;
	padding-bottom: 70px;
}

.platform-android .listen-radios {
	overflow-y: hidden;
}

.platform-ios #homePage {
	height: 100%;
	overflow-x: hidden;
}

.bg-header {
	/*-moz-filter: blur(10px);
	-webkit-filter: blur(10px);
	filter: blur(10px);*/
	background-position: center;
	background-size: cover;
	height: 75%;
	left: -5%;
	position: absolute;
	top: -25%;
	width: 110%;
	z-index: -1;
}

.bg-header .over-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+20,0.4+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(20%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.logo-area img {
	left: 50%;
	position: absolute;
	top: 5px;
	transform: translate3d(-50%,0,0);
	-webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    -ms-transform: translate3d(-50%,0,0);
	height: 11%;
}

.logo-area button {
	background: none;
	border: none;
	color: #FFF;
	font-size: 2.3em;
	position: absolute;
	right: 4%;
	top: 2%;
	-webkit-transform: translate3d(0,0,0);
}

.logo-area {
	height: 25%;
}

.listen-radios label {
	border: none;
	padding-top: 15px;
	-webkit-transform: translate3d(0,0,0);
}

.listen-radios .input-label {
	font-weight: bold;
	color: #333;
	font-size: 1.2em;
}

.listen-radios select {
	border-bottom: 1px solid #EEE;
	color: #666;
	font-size: 1.1em;
	height: 2em;
	margin-right: 15px;
	margin-top: 18px;
	padding-left: 5px;
	padding-right: 15px;
	max-width: 45%;
}

.listen-radios .item-select:after {
	border-color: transparent transparent #EEE transparent;
	border-style: solid;
	border-width: 0 0 10px 10px;
	height: 0;
	margin-right: -1px;
	margin-top: 13px;
	width: 0;
}

.listen-radios ul li div {
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	float: left;
	height: 60px;
	margin-right: 10px;
	position: relative;
	width: 60px;
}

.listen-radios ul li {
	border-bottom: 1px solid #EEE;
	clear: both;
	min-height: 80px;
	padding: 10px 15px;
	-webkit-transform: translate3d(0,0,0);
}

.listen-radios ul li div:before, .recent-songs ul li div:before, .most-played ul li div:before {
	background-color: rgba(82, 82, 82, 0.4);
	border-radius: 5px;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0px;
}

.listen-radios ul li div:after {
	color: #FFF;
	content: attr(data-pos);
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.listen-radios ul li p {
	font-weight: bold;
	margin-bottom: -3px;
	overflow: hidden;
	padding-top: 13px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 75%;
}

.listen-radios ul li:last-child {
	border: none;
}

.bg-player {
	background-position: center;
	background-size: cover;
	height: 100%;
	left: -5%;
	position: absolute;
	top: 0%;
	width: 110%;
	z-index: -1;
}

.div-bg {
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(18,18,18,0.7) 35%, rgba(51,51,51,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(35%,rgba(18,18,18,0.7)), color-stop(100%,rgba(51,51,51,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(18,18,18,0.7) 35%,rgba(51,51,51,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(18,18,18,0.7) 35%,rgba(51,51,51,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b3333333',GradientType=0 ); /* IE6-9 */
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -1;
}

#radioPlayer header {
    height: 22%;
}

#radioPlayer .info {
    height: 78%;
    position: relative;
}

.title .ion-android-arrow-back,
.title .ion-android-close {
	background: none;
	border: none;
	color: #FFF;
	float: left;
	font-size: 1.5em;
	margin-right: 15px;
	padding: 0px 10px;
	padding-top: 1px;
	margin-left: -5px;
	height: 100%;
	position: relative;
	height: 35px;
}

.title .ion-android-arrow-back {
	font-size: 1.9em;
}

.title {
	text-align: center;
	color: #FFF;
	padding: 25px 15px 0px 15px;
}

.title p {
	font-size: 1.3em;
	margin-bottom: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.title .ion-android-search {
	background: none;
	border: none;
	color: #FFF;
	font-size: 2.3em;
	position: absolute;
	right: 5px;
	top: 18px;
	padding: 0px 10px;
}

header .tabs-top {
	margin-top: 2em;
}

header .tabs {
	background-color: rgba(0, 0, 0, 0) !important;
	border-bottom: none !important;
}

header .tabs-top .tab-item {
	color: #FFF !important;
	font-size: 0.8em;
}

header .tabs-top .tab-item.active {
	border-bottom: 1px solid #cf0 !important;
}

header .tabs-top .tab-item.activated {
	margin-top: 0 !important;
}

.radio-logo {
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border-radius: 50%;
	border: 5px solid #cf0;
	height: 53%;
	left: 50%;
	padding: 14%;
	position: absolute;
	text-align: center;
	top: 5%;
	transform: translateX(-50%);
	width: 67%;
}

.radio-logo img {
	width: 85%;
	min-height: 8em;
}

.radio-logo > div {
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	border-radius: 60%;
	height: 85%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	z-index: -1;
}

.radio-logo div > div {
	background-position: center !important;
	background-size: cover !important;
	height: 100%;
	position: absolute;
	width: 100%;

}

.controls {
	bottom: 20px;
	color: #FFF;
	padding-bottom: 0 !important;
	padding: 1em;
	position: absolute;
	text-align: center;
	width: 100%;
}

.controls h3 {
	color: #FFF;
	font-weight: bold;
	margin-bottom: 0px;
}

.controls button {
	background: #CCC;
	border-radius: 2em;
	border: none;
	color: #333;
	font-size: 2.3em;
	height: 1.7em;
	margin: 0 0.3em;
	padding: 0.2em;
	width: 1.7em;
}

header .tabs-top .tab-item.activated {
	border-bottom: 1px solid #cf0 !important;
}

.recent-songs ul li div {
	background-position: center top !important;
	background-size: cover !important;
	border-radius: 5px;
	float: left;
	height: 60px;
	margin-right: 10px;
	position: relative;
	width: 60px;
}

.recent-songs ul li {
	color: #FFF;
	margin-left: 15px;
	clear: both;
	margin-bottom: 35px;
	min-height: 50px;
	position: relative;
}

.recent-songs ul li p {
	font-weight: bold;
	margin-bottom: 0px;
	padding-top: 10px;
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.recent-songs ul li div:after {
	color: #FFF;
	content: attr(data-time);
	font-weight: bold;
	left: 0;
	margin-top: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.recent-songs ul, .most-played ul {
	height: 78%;
	overflow-x: scroll;
	position: absolute;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.most-played .item.item-select {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.most-played .input-label {
	color: #FFF;
	font-size: 1.4em;
	font-weight: bold;
	margin-top: -10px;
}

.most-played .item-select select {
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 1px solid #89981A;
	color: #FFF;
	font-size: 1.1em;
	height: 38px;
	margin-right: 15px;
    border-radius: 0px;
}

.most-played .item-select:after {
	border-color: transparent transparent #89981A transparent;
	border-radius: 0px;
	border-style: solid;
	border-width: 0 0 10px 10px;
	height: 0;
	margin-right: -1px;
	margin-top: 5px;
	width: 0;
}

.most-played ul li {
	clear: both;
	color: #FFF;
	margin-left: 15px;
	margin-bottom: 35px;
	position: relative;
	min-height: 50px;
}

.most-played ul li div {
	background-position: center top !important;
	background-size: cover !important;
	border-radius: 5px;
	float: left;
	height: 60px;
	margin-right: 10px;
	position: relative;
	width: 60px;
}

.most-played ul li div:after {
	color: #FFF;
	content: attr(data-pos);
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.most-played ul li p {
	font-weight: bold;
	margin-bottom: 0px;
	padding-top: 10px;
	width: 65%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.most-played ul {
	height: calc(78% - 56px);
}

.listen-radios ul li span {
	display: inline-block;
	min-height: 1em;
}

.play-pause.ion-play:before {
	left: 2px;
	position: relative;
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

.play-pause.ion-load-c:before, .toggle-play.ion-load-c:before {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.top.title p {
	margin-top: 9px;
}

.player-slide {
	height: 100%;
}

.recent-songs ul {
	margin-top: 15px;
}

.recent-songs ul li p[ng-hide] {
	padding-top: 0px;
}

.most-played ul li p[ng-hide] {
	padding-bottom: 15px;
}

.recent-songs > p, .most-played ul > p {
	color: #FFF;
	margin-top: 20px;
	text-align: center;
}

.controls .share:before {
	margin-left: -5px;
}

.platform-android .min-image.playing:after {
	background-image: url('../img/playing.gif');
}

.title.playing .ion-android-close {
	margin-right: 45px;
}

.platform-android .title.playing:before {
	background-image: url('../img/playing.gif');
}

.title.playing:before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-size: cover;
	margin-left: 37px;
	margin-top: 16px;
}

.cancel-bg.show {
	opacity: 0.7;
}

a.tab-item.active {
	margin-top: 0px !important;
}

button.ion-document-text {
	background: none;
	border: none;
	color: #FFF;
	font-size: 22px;
	position: absolute;
	right: 15px;
	top: 50%;
    padding-right: 0px !important;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.listen-radios ul li:active {
	background-color: #ECECEC;
}

.logo-area button:active:before {
    color: #AAA;
}

.suggest ul li:active {
	background-color: #ECECEC;
}

.controls button.play-pause:active {
	background-color: #F9F9F9;
}

.recent-songs ul li.lyrics p {
	width: 63%;
}

.logo-area button {
	padding: 0px 10px;
}

.platform-ios .logo-area {
    margin-top: 20px;
    position: relative;
}

.platform-ios .logo-area img {
    height: 100%;
}

.platform-ios header .tabs {
    top: 30px !important;
}

.platform-ios .title .ion-arrow-back,
.platform-ios .title .ion-android-close {
    margin-right: 0;
}

.platform-ios .min-image.playing:before {
    background: none;
}

.platform-ios .pane[nav-view]:empty {
	display: none;
}

@media only screen and (max-height: 500px) and (orientation : portrait) {
    .radio-logo {
        padding: 6%;
        width: 54%;
    }
    .recent-songs ul li.lyrics p {
        width: 57%;
    }
}

button.ion-load-c:before {
    content: "\f29c" !important;
}

.play-pause:not(.ion-play):not(.ion-pause):not(.ion-load-c):before {
	color: #CCC;
	content: '.';
}

.toggle-play:not(.ion-play):not(.ion-pause):not(.ion-load-c):before {
	font-family: "Ionicons";
	content: '\f210';
	color: #FFF;
}

@media screen and (min-width: 600px) {
	#radioPlayer header {
		height: 15%;
	}
	.recent-songs ul, .most-played ul {
		height: 100%;
	}
}



